.App{
    background-color: #f6f6f6;
    color: #0d1d2c;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 100vh;
    width: 100%;
    padding-top: 300px;
    font-family: Montserrat;
}
.topSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.resultSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Expensebox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
   width: 135px;
   height: 60px;
   margin: 10px;
}
.Expensebox span{
    color: green;
    font-weight: bold;
}
.btn{
    outline: none;
    padding: 5px 10px;
    background-color: #ede9fe;
    color: #6d28d9;
    border-radius: 5px;
    border: 1px solid #6d28d9;
}
.primary{
    color: #fff;
    border: none;
    background-color: #6d28d9;
    padding:8px 10px;
  
}
.cancle{
    border: 1px solid #dc2626;
    color: #dc2626;
    background-color: #fff;
}
form{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: space-between;
    margin-bottom: 20px;
}
input{
    border: 1px solid #ccc;
    padding: 10px 12px;
    outline: none;
    border-radius: 5px;
}
/* how to style special type of one class [type:"   "] */
input[type:"radio"]{
    margin-left:10px;
}
.radioBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.radioBox lable{
    margin-left: 3px;
    font-size: 14px;
}
.transaction{
    border-radius: 5px;
    background-color: #f4f4f5;
    padding: 10px;
    font-weight: bold;
    margin-top: 15px;
    display: flex;
    /* in flex row: justify contect(column) */
    justify-content: space-between;
    /* border-right or border-left: for part of border */
    border-right: 4px solid green;
}
input.search{
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 12px;
    background-color: #efefef;
    width:90%;
    margin: 20px 0;
}